$bg: #141414;
$bg-elev: #9b9b9b20;
$text: #e5e5e5;
$muted: #9b9b9b;
$accent: #4adbe8d4;
$important: #ec0c0cff;
$radius: 16px;
$gap: 16px;

$font-base: Roboto, system-ui, -apple-system, Segoe UI, sans-serif;
$font-cat-popular: "Bebas Neue", cursive;
$font-cat-top_rated: "Oswald", sans-serif;
$font-cat-now_playing: Roboto, system-ui, sans-serif;
